@*@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>User ID : @ViewData["UserID"]</p>
</div>*@

@model DotNetBrushUp.DataModels.EmployeeDetail

@{
    ViewData["Title"] = "AddEmployeeDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Enter Employee Detail</h1>

<div class="row">
    <div class="col-md-6">
        <form asp-action="AddEmployeeDetail" asp-controller="Employee" method="post" enctype="multipart/form-data">
            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
            <div class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label">Employee ID</label>
                <input asp-for="EmployeeId" class="form-control" />
                <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EmployeeName" class="control-label">Employee Name</label>
                <input asp-for="EmployeeName" class="form-control" />
                <span asp-validation-for="EmployeeName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EmployeeLocation" class="control-label">Employee Location</label>
                <input asp-for="EmployeeLocation" class="form-control" />
                <span asp-validation-for="EmployeeLocation" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EmployeePhoneNo" class="control-label">Employee Phone No</label>
                <input asp-for="EmployeePhoneNo" class="form-control" />
                <span asp-validation-for="EmployeePhoneNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeProofFile" class="control-label"></label>
                <input asp-for="EmployeeProofFile" name="EmployeeProofFile" type="file" class="form-control" />
                <span asp-validation-for="EmployeeProofFile" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create</button>
                <a asp-action="Index" class="btn btn-secondary ml-2">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

