html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: Roboto,sans-serif;
}

/*tab navigation*/
.login-logout-card .card-header {
    padding: 0px 0px 12px 0px;
}

.login-logout-card ul.nav-tabs {
    margin: 0px 0px -12px 0px;
}

.login-logout-card li.nav-item {
    width: 50%;
}

.login-logout-card a.nav-link {
    font-size: 1rem;
    color: #495057;
    text-align: center;
    padding: 1rem;
}

.login-logout-card .card-body {
    padding: 10px 20px;
}

.btn.btn1{
    background-color:blue;
    color:white;
    font-weight:bold;
    font-style:oblique;
}

.btn.btn1:hover {
    background-color: deepskyblue;
}

tbody{
    background: url(https://st2.depositphotos.com/3922387/8342/i/450/depositphotos_83428804-stock-photo-abstract-pastel-sky-blurred-background.jpg);
    background-size: cover;
    width:max-content;
  
}

thead{
    background-color:black;
    color:white;
}

.heading{
  
    text-decoration:underline;
    color:brown;
    font-weight:bold;
    font-style:normal;
    text-align:center;
}

th,tr{
    text-align:center;
}

center{
    margin-left:300px;
}

.container1 {
    
    justify-content: center;
    align-items: center;
    margin-left:500px;
}

/* For the Login Tab when Active */
.nav-tabs .nav-item .nav-link.active[href*="/Login"] {
    background-color: gray; /* Change to your desired color */
    color: white; /* Change text color for visibility */
}

/* For the Register Tab when Active */
.nav-tabs .nav-item .nav-link.active[href*="/Register"] {
    background-color: gray; /* Change to your desired color */
    color: white; /* Change text color for visibility */
}

.form-group{
    margin-top:10px;
    color:white;
    font-weight:bold;
}



